/* button{
    background-color: #c0b4c0;
    box-shadow: 2px 2px 7px 1px #79828b;
    border: 1px;
    border-radius: 3px;
    margin: 5px;
    font-size: 15px;
    color: #47494a;
}
button:hover{
    background-color: #c1cfd6;
} */
body {
    background-color: #ebe6eb;
    /* //rgb(180, 192, 180) */
}

h1 {
    color: #1e1f20;
    font-size: 25px;
}

input,
select {
    border-radius: 3px;
    border: 1px;
    background-color: #ebe6eb;
    font-weight: 30;
}

div {
    border-radius: 3px;
    min-height: 100px;
}

img {
    border-radius: 3px;
}

#avatarImg {
    float: right;
    margin: 3px;
}

#moreInfo {
    text-align: left;
}

#lgnFrm1,
#lgnFrm2 {
    text-align: top;
    margin: 2px;
    /* float: inline-end; */
    float: left;
    padding-bottom: 10px;
}

/* #btnLgn{
    float:right;
    text-align: top;
    position: absolute;
    top: 50px;
    right: 50px;
} */